:root {
    --clr-white: hsl(0, 0%, 100%); /* #FFFFFF */
    --clr-white-almost: #F8F8F8;
    --clr-green-light: #DBFFF4;
    --clr-red-light: #FFE7EF;
    /* Testing colours */
    --clr-orange-light: #FED9B7;
    --clr-magenta: #BA2C73;

    --ff-sans-01: 'Poppins', serif;

    --fw-regular: font-weight: 400;
    --fw-semi-bold: font-weight: 600;
}


/* --- CSS RESET --- */

/* Box Sizing Rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove Default Margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

/* Remove List Styles on ul, ol elements with a list role, which suggest default styling will be removed */

ul[role="list"],
ol[role="list"] {
    list-style: none;
}

/* Set Core Root Defaults */
html:focus-within {
    scroll-behavior: smooth;;
}

/* Set Core Body Defaults */
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* Elements That Don't Have a Class Get Default Styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make Images Easier to Work With */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit Fonts for Inputs and Buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* ------------ */
/* -- A11Y --  */

/* Remove all animations, transitions, and smooth scrolling for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/* --- TYPOGRAPHY --- */

body {
    font-family: var(--ff-sans-01);
    font-weight: var(--fw-regular);
    color: var(--clr-white-almost);
    background-color: black;
}

.cat-name {
    color: var(--clr-magenta);
    font-weight: var(--fw-semi-bold);
}

/* Utility Classes */


/* --- LAYOUT --- */
.container {
    width: 550px;
    height: 973px;
    background-color: var(--clr-orange-light);
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-rows: repeat(3, auto); */
}

.icon {
    max-width: 2.5rem;
    /* padding: 1rem 1.5rem; */
}

.top-section {
    display: grid;
    grid-gap: 1rem;
    justify-content: space-between;
    align-items: center ;
    grid-template-columns: repeat(3, 1fr);
}

img {
    border-radius: 5px;
}

.photo {
    display: grid;
}

.choice {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}
